body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0)
  
}

#app {
  background-color: transparent; 
}

#Island {
  position: relative;
  width: 40vw;
  height: 20vh;
  border-radius: 15px;
  background-color: black;
  transition: .4s;
}

#Island:hover {
  width: 60vw;
}

@keyframes appear {
  0% {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0;
  } 100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  color: #FAFAFA;
  pointer-events: none; 
  user-select: none; 
  animation: appear 1s forwards;    
}
