body {
  font-family: "OpenRunde", "Helvetica";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0)
  
}

@font-face {
  font-family: "OpenRunde";
  src: url("/assets/fonts/OpenRunde-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenRunde";
  src: url("/assets/fonts/OpenRunde-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenRunde";
  src: url("/assets/fonts/OpenRunde-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenRunde";
  src: url("/assets/fonts/OpenRunde-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#app {
  background-color: transparent; 
}

#Island {
  position: relative;
  width: 40vw;
  height: 20vh;
  border-radius: 15px;
  background-color: black;
  transition: .4s;
}

#Island:hover {
  width: 60vw;
}

@keyframes appear {
  0% {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0;
  } 100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.text {
  color: #FAFAFA;
  pointer-events: none; 
  user-select: none; 
  animation: appear 1s forwards;    
}
